.label  {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
  }
  .option {
    max-width: 100%;
    width: 160px; 
    height: 55px; 

  }
  
  .input-hero{
    max-width: 100%;
    width: 220px; 
    height: 55px;
    margin-left: 5%;
  
  }

  .input-style{
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: white;
    margin-left: 15px;
    
  }

  

