
   .content-popup {
    text-align: center;
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
  }

  .content-popup-use {
    position: relative;
    display: flex;
    max-width: 100%;
    width: 580px;
    background-color: white;
    height: auto;
    border-radius: 5px;
    text-align: justify;
    line-height: 2;  
    font-size: 1.2rem;
    flex-wrap: wrap;
    
  }

  .BTN-Close {
    position: absolute;
    top: 5%;
    right: 2%;
    background-color: rgba(255, 255, 255, 0.829);
    width: 3%;
    height: 4%;
    padding: 5px;
  }

  .img-vert-hero{
    padding: 10px;
    border-radius: 5px;
  }

  .content-popup-use h2{
  
    color: red;
    padding: 20px;
    justify-content: center;
    height: 80px;
   
  
  }
  .detail{
    word-wrap: break-word;
    font-size: 1.25rem;
    max-width: 320px;
  }
  .icon-attack{
    max-width: 100%;
    width: 30px;
    height: 30px;
  }

  .img-vert-hero {
   max-width: 100%;
   width: 240px;
   height: 280px;
  }

  