
   .content-popup {
    text-align: center;
    position: fixed;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.884);
  }

  .content-popup-use {
    position: relative;
    display: flex;
  
    background-color: white;
    width: 700px;
    height: 320px;
    border-radius: 5px;
    text-align: justify;
    line-height: 2;  
    font-size: 1.2rem;
  }

  .BTN-Close {
    position: absolute;
    top: 5%;
    right: 2%;
    background-color: rgba(255, 255, 255, 0.829);
    width: 3%;
    height: 4%;
    padding: 5px;
  }

  .img-vert-hero{
    padding: 20px;
    border-radius: 5px;
  }

  .content-popup-use h2{
    color: red;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 380px;
    height: 80px;
  
  }
  .detail{
    line-height: 3; 
    font-size: 1.25rem;
  }
  .icon-attack{
    width: 30px;
    height: 30px;
  }