
@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Faustina', serif;
}


.navbar{
  display: flex;
  margin-top: 50px;
}

.navbar h1{
  font-size: 4.2rem;
  color: white;
}

.item{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  max-width: 100%;
  width: 800px;
  flex-wrap: wrap;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 50px;
}

.show-img{
  max-width: 100%;
  width: 253px;
  padding: 4px;
  transition: 0.5s  ;

}
.show-img:hover{
  opacity: 20%;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  width: 258.725px;
}



